/* GLOBAL */
html,
body {
    font-family: 'Times New Roman', Times, serif;
}

/* HEADER */
.header img {
    width: 250px;
}

.header ul {
    list-style: none;
    background-color: black;
    padding: 15px 0;
    margin: 5px 0 10px;
}

.header li {
    display: inline;
    margin: 0 10px;
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* CAROUSEL */
.carousel {
    height: 550px;
    background-image: url("../image/slider_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

